.App {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 3.4vmin);
  color: black;
}

.spacer {
  flex-basis: 2vh;
  background-color: white;
}

.appHeader {
  background-image: linear-gradient(to right, #1D5A93, #219063);
  display: flex;
  color: white;
  width: 100%;
  flex-basis: 15vh;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

.searchWrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 0.2em 0 0 0;
  flex-basis: 10%;
  justify-content: space-around;
  width: 100%;
}

.searchBar {
  border-radius: 0.2em;
  padding: 1em;
  width: 90%;
  height: 2.8em;
  margin: 0.2em 0;
  font-size: 0.5em;
  border: 1px grey solid;
  box-sizing: border-box;
}

button {
  box-sizing: border-box;
  background-color: #24995B;
  border-radius: 5px;
  margin: 0.1em 0;
  height: 1.2em;
  width: 1.2em;
  color: white;
  padding: 0;
  font-size: 1.2em;
}

.items {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  width: 100%;
  color: #383838;
}

li {
  margin-bottom: 0.8em;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 1em 1em;
  width: 100%;
}

.itemTitle {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  padding-top: 1em;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  flex-basis: 38%;
}

.itemDescription {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  flex-basis: 62%;
}


.typography {
  width: 100%;
  display: flex;
  color: green;
  padding-left: 0.6em;
  padding-top: 0.3em;
  font-weight: bold;
  font-size: 0.7em;
}

.favouriteIcon {
  color: green;
  margin-right: 1em;
}

.normalIcon {
  color: grey;
  margin-right: 1em;
}

.favouriteContainer {
  background-color: #F7FEFA;
  width: 100%
}